.homepageleft {
    width:50%;
    float:left;
    text-align:right;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.homepageright {
    width:45%;
    float:right;
    text-align:left;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.homepagebottom {
    font-size:25px;
    text-align:center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.homepage {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 2%;
    font-size: 24px;
}

li b {
    font-size: 28px;
}

header img {
    max-height: 50px;
    float: left;
    margin-left: 5%;
}
